<html>
<title>Formula Variables</title>
<body>
<h1>Formula Variables</h1>

This page describes variables that are available in Formulas in Chipper.<p>

<h2>Top Level Constants</h2>

<table border="1" frame="1">
<tr><td><b>Constant</b></td><td><b>Description</b></td></tr>
<tr><td>brace</td><td>constant: "{"
<tr><td>dbrace</td><td>constant: "{{"
<tr><td>mm</td><td>Factor for length in millimeters (=1), use e.g.: "7 * mm" (7)
<tr><td>cm</td><td>Factor for length in millimeters (=10), use e.g.: "7 * cm" (70)
<tr><td>mil</td><td>Factor for length in millimeters (=0.0254), use e.g.: "100 * mil" (2.54)
<tr><td>inch</td><td>Factor for length in millimeters (=25.4), use e.g.: "0.5 * inch" (12.7)
<tr><td>dbrace</td><td>constant: "{{"
<tr><td>symbolDir</td><td>target directory for symbols
<tr><td>symbolVarName</td><td>variable name that contains the symbol directory
<tr><td>footprintDir</td><td>target directory for footprints
<tr><td>footprintVarName</td><td>variable name that contains the footprint directory
<tr><td>modelDir</td><td>target directory for 3D models
<tr><td>modelVarName</td><td>variable name that contains the 3D model directory
<tr><td>rootDir</td><td>root target directory
<tr><td>rootVarName</td><td>variable name that contains the root directory
</table>


<h2>Chip Level</h2>

Variables on this level always exist for any formula and are specific to the chip that is being worked on.<p>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>manufacturer</td><td>name of the chip manufacturer
<tr><td>manufacturerFileName</td><td>name of the chip manufacturer in a form that is a valid file name
<tr><td>chipType</td><td>chip type description
<tr><td>chipTypeFileName</td><td>chip type description in a form that is a valid file name
<tr><td>author</td><td>author of the chip file
<tr><td>chip</td><td>structure that contains the chip data (see below)
<tr><td>chip.fileName</td><td>source file name of the chip
<tr><td>chip.metaData</td><td>structure containing chip meta data
<tr><td>chip.metaData.manufacturer</td><td>name of the chip manufacturer
<tr><td>chip.metaData.chipType</td><td>chip type description
<tr><td>chip.metaData.author</td><td>author of the chip file
<tr><td>chip.metaData.copyrightString</td><td>copyright of the chip file (not the chip)
<tr><td>chip.metaData.license</td><td>license of the chip file and resulting target files
<tr><td>chip.metaData.datasheetUrl</td><td>URL to the manufacturer's data sheet
<tr><td>chip.metaData.keywords</td><td>space separated list of keywords
<tr><td>chip.metaData.description</td><td>description of the chip itself
<tr><td>chip.metaData.refPrefix</td><td>prefix the chip should get in schematics (usually "U")
<tr><td>chip.targets</td><td>structure containing target file settings
<tr><td>chip.targets.symbolFile</td><td>target symbol file pattern
<tr><td>chip.targets.footprintFile</td><td>target footprint file pattern
<tr><td>chip.targets.modelFile</td><td>target 3D model file pattern
<tr><td>chip.pins</td><td>structure containing pin definitions on chip level
<tr><td>chip.pins.allNames</td><td>array of all (main) pin names (excluding alternate functions)
<tr><td>chip.pins.numPins</td><td>number of defined pins
<tr><td>chip.pins.allPins</td><td>array of all chip level pin structures:
<tr><td>chip.pins.allPins[0].*</td><td>specific instance of a pin structure, the array is enumerated 0..numPins-1:
<tr><td>chip.pins.allPins[0].name</td><td>main name of the pin
<tr><td>chip.pins.allPins[0].alternateNames</td><td>array of all alternate names of the pin
<tr><td>chip.pins.allPins[0].functionString</td><td>human readable function of the pin
<tr><td>chip.pins.allPins[0].functionKiCad</td><td>KiCad function type (to be used in symbol files)
<tr><td>chip.pins.allPins[0].lineString</td><td>human readable line type of the pin
<tr><td>chip.pins.allPins[0].lineKiCad</td><td>KiCad line type (to be used in symbol files)
<tr><td>chip.pins.allPins[0].allAlternates</td><td>array of all alternate functions of this pin, the elements of the array have the same properties as the pin itself (name, functionKiCad, ...)
<tr><td>chip.numVariants</td><td>int: number of variants of this chip
<tr><td>chip.variantIds</td><td>array of variant IDs (strings containing UUIDs)
<tr><td>chip.allVariants</td><td>array of all variants of the chip:
<tr><td>chip.allVariants[0].*</td><td>specific variant, the array is enumerated from 0..numVariants-1, see below for members
</table>

<h2>Variant Level</h2>

Variables on this level exist if the formula is on the variant level or deeper inside the chip.<p>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>variantName</td><td>name of the variant
<tr><td>variantFileName</td><td>name of the variant in a form usable as a file name
<tr><td>variant</td><td>complete structure of the variant:
<tr><td>variant.uid</td><td>unique ID of the variant (UUID)
<tr><td>variant.name</td><td>name of the variant
<tr><td>variant.numPins</td><td>number of pins defined in this variant
<tr><td>variant.pinIds</td><td>"pin numbers" of all pins - pin "numbers" can be alphanumeric
<tr><td>variant.pins</td><td>array of all pins defined in this variant:
<tr><td>variant.pins[0].*</td><td>specific instance of a pin, the array is enumerated from 0..numPins-1
<tr><td>variant.pins[0].name</td><td>name of the pin, this references a chip level pin
<tr><td>variant.pins[0].id</td><td>"pin number" of the pin
<tr><td>variant.packageIds</td><td>unique IDs of all packages defined in this variant
<tr><td>variant.packages</td><td>array of all package structures in this variant, indexes are the packageIds above, for content details see Package Level below
</table>

<h2>Package Level</h2>

Variables on this level exist if the formula is on the package level or deeper inside the chip.<p>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>packageName</td><td>name of the package
<tr><td>packageFileName</td><td>name of the package usable as file name
<tr><td>templateName</td><td>Name/Title of the template used for this package (e.g. "QFP" or "SOP")
<tr><td>templateFileName</td><td>Name/Title of the template usable as file name
<tr><td>templateDir</td><td>directory from which the template was loaded (can be used to reference additional files in the template itself)
<tr><td>package</td><td>structure of the package:
<tr><td>package.uid</td><td>unique ID (UUID) of the package
<tr><td>package.parentUid</td><td>unique ID (UUID) of the variant
<tr><td>package.name</td><td>name of the package, if configured (normally you would use displayName)
<tr><td>package.templateName</td><td>name/title of the template this package uses
<tr><td>package.displayName</td><td>name of the package, including fallback if it is not explicitly set
<tr><td>package.keywords</td><td>list of keywords for the package (includes the chip keywords)
<tr><td>package.description</td><td>description of the package (falls back to chip level if not configured)
<tr><td>package.symbolIds</td><td>list of UUIDs of symbols in this package
<tr><td>package.footprintIds</td><td>list of UUIDs of footprints in this package
<tr><td>package.modelIds</td><td>list of UUIDs of 3D models in this package
<tr><td>package.variables</td><td>structure of all variable definitions of the package (see below for members)
<tr><td>package.templateRef</td><td>structure referencing the template this package relies on (see below for members)
</table><p>

Note: currently the full list of symbols, footprints and 3D models is not exposed on package level. When it is relevant the specific target symbol, footprint or 3D model is exposed on its own (see below).<p>

<h3>Package Level Templates</h3>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>package.templateRef</td><td>structure referencing the template this package relies on (see below for members)
</table><p>

Note: currently no properties of templates are exposed, but this will probably change in a later version of Chipper.

<h2>Package and Target Level Variable Definitions</h2>

If this is on target file level, then you need to replace "package." with "symbol.", "footprint.", or "model.".<p>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>package.variables</td><td>structure of all variable definitions of the package (see below for members)
<tr><td>package.variables.packageUid</td><td>UUID of the package that contains these definitions
<tr><td>package.variables.variantUid</td><td>UUID of the variant that contains these definitions
<tr><td>package.variables.fileUid</td><td>UUID of the target file that contains these definitions (empty if this on package level)
<tr><td>package.variables.isOnTargetFile</td><td>bool: true if these are variables of a target file
<tr><td>package.variables.isOnPackage</td><td>bool: true if these are variables of a package
<tr><td>package.variables.templateVariables</td><td>structure of the underlying template variable definition, currently no properties are exposed
<tr><td>package.variables.definedVariables</td><td>array of configured variable names
<tr><td>package.variables.variables</td><td>array containing the actual variable definitions, the index is one of definedVariables names:
<tr><td>package.variables.variables['name']</td><td>string containing the variable value that is configured, empty if the variable needs to fall back to the template formula
</table><p>

Note: variable definitions are not very useful in generators and templates, the actual fully resolved variable values exist on the main level.<p>

<h2>Target File Level</h2>

Variables on this level exist if the formula is on the target file level. Target files are symbols, footprints and 3D models.<p>

In addition the variables defined in the template (both package level and target file level) are available with a fully resolved value on the main level. E.g. most templates define a variable "N" that contains the number of pins, this variable is available to scripts and template files as "N" without any prefix.<p>

The variable "target" exists as a generic target file structure. Any property available in "target" is also available in "symbol", "model" or "footprint", but not the other way around.<p>

<table border="1" frame="1">
<tr><td><b>Variable</b></td><td><b>Description</b></td></tr>
<tr><td>targetName</td><td>name of the target symbol/footprint/model
<tr><td>targetFileName</td><td>name of the target usable as file name
<tr><td>generatorId</td><td>name of the script that will be used to generate the target
<tr><td>inputFilePath</td><td>full path of the input template file used for this target
<tr><td>inputFileRoot</td><td>base name of the template file use for this target
<tr><td>target</td><td>structure containing the target file definition:
<tr><td>target.fileTypeName</td><td>human readable file type (symbol, footprint or 3D model)
<tr><td>target.isSymbol</td><td>true if this is a symbol
<tr><td>target.isFootprint</td><td>true if this is a footprint
<tr><td>target.is3DModel</td><td>true if this is a 3D model
<tr><td>target.uid</td><td>unique ID of the target file
<tr><td>target.packageUid</td><td>UUID of the package this belongs to
<tr><td>target.variantUid</td><td>UUID of the variant this belongs to
<tr><td>target.name</td><td>name of the target (should be part of the final symbol/footprint/model name)
<tr><td>target.templateId</td><td>reference ID of the target file template used
<tr><td>target.variables</td><td>variable definitions specific to the target file (see above for structure)
<tr><td>target.pinRowNames</td><td>name of all pin rows of the target
<tr><td>target.pinRowMap</td><td>array that contains all pin rows, the indexes are the pinRowNames
<tr><td>target.pinRowMap['name'].id</td><td>"pin number" of the pin (can be alphanumeric, to be used in symbol/footprint)
<tr><td>target.pinRowMap['name'].number</td><td>alias for id
<tr><td>target.pinRowMap['name'].isValid</td><td>true if this is a valid pin definition (should always be true)
<tr><td>target.pinRowMap['name'].isGap</td><td>true if this is a gap instead of a pin
<tr><td>target.pinRowMap['name'].isPin</td><td>true if this is a regular pin
<tr><td>target.pinRowMap['name'].isHidden</td><td>true if this pin is hidden behind the previous pin
<tr><td>target.pinRowMap['name'].type</td><td>human readable pin type (Connected, Stub, etc.)
<tr><td>target.pinRowMap['name'].name</td><td>main name of the pin (to be displayed in symbol)
<tr><td>target.pinRowMap['name'].functionString</td><td>human readable electrical function of the pin
<tr><td>target.pinRowMap['name'].functionKiCad</td><td>KiCad electrical function of the pin (to be used in symbol)
<tr><td>target.pinRowMap['name'].lineString</td><td>human readable line type of the pin
<tr><td>target.pinRowMap['name'].lineKiCad</td><td>KiCad line type of the pin (to be used in symbol)
<tr><td>target.pinRowMap['name'].pinUuid</td><td>UUID calculated from target UID and pin ID (to be used in footprint files)
<tr><td>target.pinRowMap['name'].alternateNames</td><td>array of all alternative pin names
<tr><td>target.pinRowMap['name'].alt</td><td>array of all alternate functions:
<tr><td>target.pinRowMap['name'].alt[0].name</td><td>main name of the pin
<tr><td>target.pinRowMap['name'].alt[0].functionString</td><td>human readable function of the pin
<tr><td>target.pinRowMap['name'].alt[0].functionKiCad</td><td>KiCad function type (to be used in symbol files)
<tr><td>target.pinRowMap['name'].alt[0].lineString</td><td>human readable line type of the pin
<tr><td>target.pinRowMap['name'].alt[0].lineKiCad</td><td>KiCad line type (to be used in symbol files)
<tr><td>symbol</td><td>if the target is a symbol (target.isSymbol==true) then this contains all target properties plus:
<tr><td>symbol.defaultFootprint</td><td>reference string to the default footprint of the symbol
<tr><td>symbol.defaultValue</td><td>string containing the default "value" of the symbol
<tr><td>footprint</td><td>if the target is a footprint (target.isFootprint==true) then this contains all target properties plus:
<tr><td>footprint.defaultModel</td><td>reference string to the default 3D model of the footprint
<tr><td>model</td><td>if the target is a 3D model (target.is3DModel==true) then this contains all target properties
<tr><td>tsymbol</td><td>if the target is a symbol (target.isSymbol==true) then this contains the symbol template
<tr><td>tfootprint</td><td>if the target is a footprint (target.isFootprint==true) then this contains the footprint template
<tr><td>tmodel</td><td>if the target is a 3D model (target.is3DModel==true) then this contains the 3D model template
</table><p>

Note: currently "tsymbol", "tfootprint" and "tmodel" do not expose any properties, but this will change in a future version of Chipper.<p>


</html>
